dependency-reduced-pom.xml
.classpath
.project
.metadata
bin/
tmp/
target/
*.tmp
*.bak
*.swp
*~.nib
local.properties
.settings/
.loadpath
.recommenders
target/
doc/
docs/

# External tool builders
.externalToolBuilders/

# Locally stored "Eclipse launch configurations"
*.launch

# sbteclipse plugin
.target

# Code Recommenders
.recommenders/
 